*{

	font-family: 'Poppins', sans-serif;
	list-style: none;
}

/*nav ul li a{
	color: black;
	text-decoration: none;
	font-size: 17px;
}

nav ul li a:hover{
	content: '';
	width: 0%;
	height: 2px;
	background: #ffff;
	dispaly: block;
	margin: auto;
	transition: 0.5s;

}

nav ul li a:hover{

	color: orange;
	text-decoration: none;
	font-size: 17px;
	transition: 0.5s;
}
*/
.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	position: relative;
	background: #f44336;
	cursor: pointer;
	border-radius: 5%;

}

.hero-btn:hover{
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
}

/*-----Portfolio hub-----*/
body{
	background: #dcdcdc;
	min-height: 100vh;
}

.wrapper{
	width: 800px;
	margin: 20px auto;
}
.links{
	margin-bottom: 20px;
	background: #fff;
	padding: 15px;
	border-radius:3px;
}
.links ul{
	display: flex;
	justify-content: center;
}
.links ul li{
	margin: 0 15px;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 3px;
	cursor: pointer;
}
.links ul li:hover,.links ul li.active{
	color: #4adb3e;
}

.view_item img{
	width: 100px;
	border-radius: 20px;
}

.view_main{
	background: #fff;
	border-radius: 3px;
	padding: 15px;
}

.list-view .view_item{
	border: 1px solid #e2efe1;
	margin: 10px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
}

.list-view .view_item:last-child{
	margin-bottom: 0;
}
.list-view .view_item .vi_left{
	margin-right: 25px;	
}
.view_item .title{
	font-weight: 600;
}
.view_item .content{
	margin: 5px 0;
	font-size: 14px;
	line-height: 22px;
	font-weight: 200;
}
.view_item .btn{
	width: 125px;
	background: #4abd3e;
	color: #fff;
	border-radius: 3px;
	padding: 8px 5px;
	text-align: center;
	font-weight: 200;
	cursor: pointer;
}

.view_item .btn:hover{
	background: #3bd62b;
}

.grid-view{
	width:100% ;
}

.grid-view .view_item{
	width: 230px;
	border: 1px solid #e2efe1;
	padding: 25px;
	margin: 10px;
	text-align: center;
	display: inline-block;

}
.grid-view .view_item img{
	width: 100px;
	
}
 .view_item .vi_left{
	margin-bottom: 10px;
}

.grid-view .view_item .btn{
	margin: 0 auto;
}

/* Personal Portfoliohub view*/

 section{
 	margin-top: 2rem;
 	width: 100%;
 	height: 95vh;
 	background-repeat:no-repeat;
 	background-size: cover;
}

.text-container p:nth-child(1){

	font-family: calibri;
	font-weight: bold;
	color: #6d6d6d;
	font-size: 22px;
}
.text-container p:nth-child(2){
	font-family: calibri;
	font-weight: bold;
	letter-spacing: 1px;
	color: #1a1a1a;
	font-size: 60px;
}

.text-container p:nth-child(3){

	font-family: myriad pro regular;
	color: #403e3e;
	font-size: 30px;
	line-height: 30px;
}

.text-container p
{
	line-height: 0px;
	margin: 45px 0px 25px;
}

.text-container{
	position: absolute;
	left: 13%;
	top: 42%;
	transform: translate(-13%, -42%);
}

.text-container button{
	width: 130px;
	height: 42px;
	border-radius: 10px;
	font-family: calibri;
	font-family: bold;
	font-size: 14px;
	outline: none;
	margin: 0px 10px;
}

.follow-btn{
	border: 2px solid #373636;
	color: #373636;

}

.contact-btn{
	background-color: #0b0b0b;
	color: #FFFFFF;
	border: none;
}

button:active{
	transform: scale(1.1);
}

.model{

	height: 560px;
	position: absolute;
	bottom: -30px;
	left: 70%;
	transform: translateX(-70%);
	
}

/**About me **/
.about-container{
	width: 80%;
	height: 330px;
	background-color: #FFFFFF;
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
	display: flex;
	margin: -7% auto 20px auto;
	position: relative;
	justify-content: space-evenly;
	align-items: center;
}
.about-container img{
	height: 250px;
}

.about-text{
	width: 550px;
}

.about-text p:nth-child(1){
	color: #403e3e;
	font-size: 23px;
	font-family: myriad pro;
	font-weight: bold;
	line-height: 40px;
	
}

.about-text p:nth-child(2){
	color: #3e3d3d;
	font-size: 13px;
	font-family: myriad pro;
	font-weight: bold;
	line-height: 5px;
}

.about-text p:nth-child(3),.about-text p:nth-child(4){
	color: #7e7e7d;
	font-size: 16px;
	font-family: calibri;
	
}
.about-text button{
	width: 120px;
	height: 40px;
	color: #FFFFFF;
	outline: none;
	border: none;
	font-family: calibri;
	background-color: #262525;
}

/*Portfolio images*/
/*
.container{

	max-width: 1200px;
	margin: auto;
	overflow: auto;
}

.gallery{
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 390px;
}

.gallery img{
	width: 100%;
	height: auto;
}

.desc{
	padding: 15px;
	text-align: center;
}
.time{
	padding: 15px;
	text-align: center;	
}
*/

.holdingcontainer{
	max-width: 100%;
	display: flex;
	padding: 50px;
	box-sizing: border-box;
	flex-direction: row;
	flex-wrap: wrap;
}

.internalcontainerL{
	flex: 1 0 25%; 
	margin: 5px;
}

@media screen and (max-width: 760px){

	.holdingcontainer{
	
	flex-direction: column-reverse;

}

